@model DCXEMAY.Models.sanpham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tiltle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiltle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageurl)
        </dt>

        <dd>
           <img src="@Url.Content(Model.imageurl)" style="width : 100px ;" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
