<!DOCTYPE html>

<html>
<head>
    <title>HẢI ĐĂNG Y15ZR</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/scrips.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cc/style.css")
    @Styles.Render("~/Content/cc/demo.css")
    @Styles.Render("~/Content/cc/layout.css")
    <script src="~/Scripts/scripts/jquery.backtotop.js"></script>
    <script src="~/Scripts/scripts/jquery.min.js"></script>
    <script src="~/Scripts/scripts/jquery.mobilemenu.js"></script>
    <script src="~/Scripts/scrips.js"></script>
    @Styles.Render("~/Content/cc/framework.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/scrips.js")
</head>
<body id="top">
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
