

@model IEnumerable<DCXEMAY.Models.SanPham>
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="wrapper row0">
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="one_quarter first">
            <h1><a href="Trangchu"><span>Y</span>15<span>Z</span>R</a></h1>
        </div>
        <div class="three_quarter">
            <ul class="nospace clear">
                <li class="one_third first">
                    <div class="block clear"><a href="#"><i class="fa fa-phone"></i></a> <span><strong>Alo Admin:</strong> 0389672882</span></div>
                </li>
                <li class="one_third">

                    <div class="block clear"><a href="#"><i class="fa fa-envelope"></i></a> <span><strong>mail:</strong> lehaidangxh@gmail.com</span></div>
                </li>
                <li class="one_third">
                    <div class="block clear"><a href="#"><i class="fa fa-clock"></i></a> <span><strong> Hoạt Động:</strong> 08.00am - 18.00pm</span></div>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">



    <section class="hoc clear">
        <!-- ################################################################################################ -->
        <nav id="mainav">
            <ul class="clear">


                <li class="active"><a href="Trangchu">Home</a></li>

                <li>
                    <a href="~/Danhmuc/Nhot">Nhớt</a>

                </li>
                </li>
                <li>
                    <a t href="~/Danhmuc/Phuocxe">Phuộc Xe</a>

                </li>
                <li><a href="~/Danhmuc/mamxe">Mâm Xe</a></li>
                <li><a href="~/Danhmuc/octitan">Ốc Titan</a></li>
                <li><a href="#">Đồ Chơi Xe</a></li>
                <li><a href="~/Danhmuc/voxe">Vỏ Xe</a></li>


            </ul>
        </nav>
        <!-- ################################################################################################ -->
        <div id="searchform">
            <div>
                <form action="#" method="post">
                    <fieldset>
                        @using (Html.BeginForm())
                        {
                            <p>
                                @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
                            </p>
                        }

                    </fieldset>

                </form>

            </div>
        </div>
        <nav id="mainav">
            <ul class="clear">


                <li>
                    <a href="~/cart/ShowCart">
                        <i class="fas fa-shopping-cart"></i>
                        @Html.Action("BagCart", "cart")

                    </a>
                </li>


            </ul>
        </nav>




        <!-- ################################################################################################ -->
    </section>

</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image: url('/images/demo/backgrounds/bb.jpg')">

    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article class="abc">
            <p> Shop đồ chơi xe máy </p>
            <h3 class="heading">Hải Đăng Y15ZR</h3>
            <p>Chuyên Cung Cấp Đồ Chơi Xe Máy Chính Hãng</p>
            <footer><a class="btn" href="#">Trãi Nghiệm Ngay <i class="fa fa-angle-right"></i></a></footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="small-container">



    <h2 class="title"> Các Sản Phẩm</h2>

    <div class="row">
        @foreach (var item in Model)
        {<div class="col-4">
                <a href="~/sanphams/Details/@Html.DisplayFor(modelItem => item.IDSanpham)">

                    <img src="@Url.Content(item.URLImage)" />

                    <h4>
                        @Html.DisplayFor(modelItem => item.TenSP)
                    </h4>
                    <h1>   @Html.DisplayFor(modelItem => item.GiaSP)</h1>

                    @*<div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>

                        </div>*@


                </a>
                <a href="~/cart/AddtoCard/@item.IDSanpham"> <i class="fas fa-shopping-cart"></i></a>
                <div class="socials-share">
                    <a class="bg-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/All-RacingShop-106377424321048/?ref=pages_you_manage" target="_blank"><span class="fab fa-facebook"></span> Share</a>
                    <a class="bg-email" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to&su=&body=https://www.facebook.com/All-RacingShop-106377424321048/?ref=pages_you_manage" target="_blank"><span class="fa fa-envelope"></span> Gmail</a>
                </div>




            </div>}

    </div>

    <div class="small-container">
        <h2 class="title"> Sản phẩm mới</h2>
        <div class="row">
            <div class="col-4">
                <img src="~/images/demo/backgrounds/mam.jpg" />
                <h4>Mâm RacingBoy</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>

                </div>

            </div>
            <div class="col-4">
                <img src="~/images/demo/backgrounds/nhot.jpg" />
                <h4>Nhớt motul</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-0"></i>

                </div>

            </div>
            <div class="col-4">
                <img src="~/images/demo/backgrounds/oc.jpg" />
                <h4>Ốc titan</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-0"></i>

                </div>

            </div>
            <div class="col-4">
                <img src="~/images/demo/backgrounds/phuoc.jpg" />
                <h4>Phuộc ohline</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-0"></i>

                </div>

            </div>

        </div>
        <div class="wrapper row2">
            <section class="hoc container clear">
                <!-- ################################################################################################ -->
                <div class="sectiontitle">
                    <h6 class="heading">Thông Tin Shop</h6>
                    <p>Tham Gia Và Liên Hệ Trực Tiếp Tại Đây</p>
                </div>
                <div id="latest" class="group">
                    <article class="one_third first">
                        <a class="imgover" href="https://www.facebook.com/groups/310173003295730"><img src="~/images/demo/backgrounds/Capture.PNG" /></a>
                        <div class="excerpt">
                            <h6 class="heading">Group</h6>

                            <footer><a href="#">Read More <i class="fa fa-angle-right"></i></a></footer>
                        </div>
                    </article>
                    <article class="one_third">
                        <a class="imgover" href="https://www.facebook.com/All-Racing-106377424321048"><img src="~/images/demo/backgrounds/page.PNG" /></a>
                        <div class="excerpt">
                            <h6 class="heading">Fanpage</h6>

                            <footer><a href="#">Read More <i class="fa fa-angle-right"></i></a></footer>
                        </div>
                    </article>
                    <article class="one_third">
                        <a class="imgover" href="https://www.facebook.com/profile.php?id=100006421546739"><img src="~/images/demo/backgrounds/ad.PNG" /></a>
                        <div class="excerpt">
                            <h6 class="heading">My Facebook profile</h6>

                            <footer><a href="#">Read More <i class="fa fa-angle-right"></i></a></footer>
                        </div>
                    </article>
                </div>
                <footer class="center"><a class="btn" href="#">Tìm Hiểu <i class="fa fa-angle-right"></i></a></footer>
                <!-- ################################################################################################ -->
            </section>
        </div>
        <div class="test">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>

                            Hàng đẹp chất lượng
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-half"></i>

                        </div>
                        <img src="~/images/user-1.png" />
                        <h3>Hải đăbg</h3>

                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>

                            Hàng đẹp chất lượng
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-half"></i>

                        </div>
                        <img src="~/images/user-2.png" />
                        <h3>Hải đăbg</h3>

                    </div>
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>

                            Hàng đẹp chất lượng
                        </p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-half"></i>

                        </div>
                        <img src="~/images/user-3.png" />
                        <h3>Hải đăbg</h3>

                    </div>
                </div>

            </div>

        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row4">
            <footer id="footer" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="one_third first">
                    <h6 class="heading">Thông Tin Liên Hệ</h6>

                    <p>Số 5 cây cám khu phố 1 bình hưng hòa B  Bình Tân HCM.</p>
                    <p class="btmspace-30">KẾT NỐI VỚI CHÚNG TÔI<a href="#"><i class="fab fa-arrow-right"></i></a>]</p>
                    <ul class="faico clear">
                        <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a class="faicon-facebook" href="https://www.facebook.com/profile.php?id=100006421546739"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
                    </ul>
                </div>
                <div class="one_third">
                    <h6 class="heading">Sản Phẩm</h6>
                    <ul class="nospace clear latestimg">
                        <li><a href="#"><img src="~/images/demo/backgrounds/oc.jpg" /></a></li>
                        <li><a href="#"><img src="~/images/demo/backgrounds/mam.jpg" /></a></li>
                        <li><a href="#"><img src="~/images/demo/backgrounds/nhot.jpg" /></a></li>
                        <li><a href="#"><img src="~/images/demo/backgrounds/x1r.jpg" /></a></li>
                        <li><a href="#"><img src="~/images/demo/backgrounds/oc.jpg" /></a></li>
                        <li><a href="#"><img src="~/images/demo/backgrounds/nhot.jpg" /></a></li>
                    </ul>
                </div>
                <div class="one_third">
                    <h6 class="heading">Map chỉ đường</h6>
                    <form method="post" action="#">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4057.5913281048647!2d106.59036318011049!3d10.782576251267674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752d3a4004bf0d%3A0xb92afde684c0436f!2zNSDEkMaw4budbmcgQ8OieSBDw6FtLCBCw6xuaCBIxrBuZyBIb8OgIEIsIELDrG5oIFTDom4sIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1626252341678!5m2!1svi!2s" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </form>
                </div>
                <!-- ################################################################################################ -->
            </footer>

        </div>

        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
            </div>
        </div>
        <div class="zalo-chat-widget" data-oaid="579745863508352884" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="350" data-height="420"></div>

        <script src="https://sp.zalo.me/plugins/sdk.js"></script>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
        <!-- JAVASCRIPTS -->

        <script src="~/Content/layout/scripts/jquery.min.js"></script>
        <script src="~/Content/layout/scripts/jquery.backtotop.js"></script>
        <script src="~/Content/layout/scripts/jquery.mobilemenu.js"></script>
        <!-- Messenger Plugin chat Code -->
   

    <!-- Your Plugin chat code -->
   

        <div class="call-mobile2">
            <a data-animate="fadeInDown" href="https://zalo.me/0389672882" target="_blank" class="button success1" style="border-radius:99px;" data-animated="true">
                <span>Chat Zalo </span>
            </a>
        </div>

        <div class="call-mobile1">
            <a data-animate="fadeInDown" href="https://www.facebook.com/stanleydang88" target="_blank" class="button success2" style="border-radius:99px;" data-animated="true">
                <span>Chat Facebook</span>
            </a>
        </div>

        <div class="call-mobile">
            <a id="callnowbutton" href="tel:0389672882">Gọi 0389672882</a>
        </div>

        <style>
            .success1.is-underline:hover, .success1.is-outline:hover, .success1 {
                background-color: #1E73BE;
                padding: 0 5px;
                color: white !important;
            }

            .success2.is-underline:hover, .success2.is-outline:hover, .success2 {
                background-color: #ff4800;
                padding: 0 5px;
                color: white !important;
            }

            .call-mobile {
                background: #00a63f;
                position: fixed;
                bottom: 10px;
                height: 40px;
                line-height 40px;
                padding: 7px 0px 0 0px;
                border-radius: 40px;
                color: #fff;
                left: 20px;
                z-index: 99999;
            }

            .call-mobile1 {
                position: fixed;
                bottom: 55px;
                height: 40px;
                line-height: 40px;
                padding: 0 0px 0 0px;
                border-radius: 40px;
                color: #fff;
                left: 20px;
                z-index: 99999;
            }

            .call-mobile2 {
                position: fixed;
                bottom: 100px;
                height: 40px;
                line-height: 40px;
                padding: 0 0px 0 0px;
                border-radius: 40px;
                color: #fff;
                left: 20px;
                z-index: 99999;
            }

            .call-mobile i {
                font-size: 20px;
                line-height: 40px;
                background: #B52026;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                text-align: center;
                float: right;
            }

            .call-mobile a {
                color: #fff;
                font-size: 15px;
                font-weight: bold;
                text-decoration: none;
                margin-right: 10px;
                padding-left: 10px;
            }

            .button span {
                text-transform: initial;
                font-weight: 400;
                font-family: poppins;
            }

            a#callnowbutton {
                font-family: poppins;
                font-weight: 400;
            }
        </style>




